* {
   background-color: lightgray;
}

#header {
   display: flex;
   justify-content: space-around;
   margin: auto;
} 

#logo {
   display: flex;
}

input {
   height: 2rem;
   width: 20rem;
   margin: auto;
}

nav li {
   display: inline-block;
   list-style-type: none;
   margin: 1rem 1.5rem; 
}

img {
   background-color: black;
   width: 5rem;
   height: 5rem;
}