#footer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-content {
  width: 50rem;
  height: 12rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  line-height: 0;
}

.credits {
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 20rem;
}

li {
  width: 18rem;
  list-style: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.5rem;
  position: relative;
}

.external-links {
  display: flex;
  justify-content: space-between;
}

.fa-brands {
  padding: 0 0.25rem;
}

.fa-github,
.fa-linkedin {
  color: white;
}

.fa-github:hover {
  color: #b35fbb;
}

.fa-linkedin:hover {
  color: #03aadf;
}
