<div>
  <form class="form-inline" (input)="filterPosts()">
    <input
      [(ngModel)]="searchText"
      class="form-control mr-sm-2 search-bar"
      type="search"
      placeholder="Search for posts..."
      name="searchText"
    />
    <button class="btn btn-primary" type="submit">Search</button>
  </form>

  <div class="search-results d-flex flex-column" *ngIf="searchText.trim()">
    <a
      class="results-list"
      *ngFor="let post of filteredPosts"
      (click)="clearSearchBar()"
      routerLink="/posts/{{ post.id }}"
    >{{ post.title }}
    </a>
  </div>
</div>

<!-- dropdown should go away after clicking a link -->
<!-- "no results" should be un-clickable -->
