#container {
  min-height: 100vh;
}

#footer {
  position: sticky;
  top: 100%;
}

.nav-container {
  width: 90rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 0 auto;
  min-width: 60rem;
}
