/* .nav-bar {
  background-color: lightgray;
  margin-top: -.8rem;
} */

.nav-container {
  width: 90rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 0 auto;
  min-width: 60rem;
}