<div class="picture-slider-container">
    <div class="img-slider">
        <img src="{{img1}}" style="width: 100%">
        <div class="caption">Caption text</div>
    </div>

    <div class="img-slider">
        <img src="{{img2}}" style="width: 100%">
        <div class="caption">Caption text</div>
    </div>

    <div class="img-slider">
        <img src="{{img3}}" style="width: 100%">
        <div class="caption">Caption text</div>
    </div>

    <div class="img-slider">
        <img src="{{img4}}" style="width: 100%">
        <div class="caption">Caption text</div>
    </div>

    <a class="prev" onclick="plusSlider(-1)">&#10094;</a>
    <a class="next" onclick="plusSlider(1)">&#10095;</a>

    <!-- The dots/circles -->
<div style="text-align:center">
    <span class="dot" onclick="currentSlide(1)"></span>
    <span class="dot" onclick="currentSlide(2)"></span>
    <span class="dot" onclick="currentSlide(3)"></span>
  </div>

</div>