.picture-slider-container {
    max-height: 40rem;
    min-height: 40rem;
    height: 40rem;
    width: auto;
    display: flex;
    justify-content: center;
    position: relative;
    margin: auto;
    
}

img {
    max-height: 40rem;
    min-height: 40rem;
    width: 100%;
    object-fit: cover;
}

* {
    box-sizing: border-box
}

/* Hides images */
.img-slider {
    display: none;
}

/* Next & previous buttons */
.prev, .next {
    /* border: 2px solid red; */
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
  }




