<div class="city-info-container da-container">
  <div class="city-detail-container">

    <div class="city-details-left">
      <div class="city-details">
        <div>{{ city.name }}</div>
        <div>{{ city.country }}</div>
      </div>
      <!-- <div
        class="weather-data d-flex justify-content-center align-items-center flex-column"
      >
        <img class="weather-icon" [src]="weatherIconURL" alt="Weather Icon" />
        <h4>
          Currently {{ convertKelvinsToFahrenheit(weatherData?.main?.temp) }}°F
        </h4>
        <h4>
          {{
            weatherData?.weather[0]?.description[0].toUpperCase() +
              weatherData?.weather[0]?.description.slice(1)
          }}
        </h4>
      </div> -->
    </div>
    <div class="city-image"><img src="{{ city.image }}" alt="" /></div>
  </div>
  <div class="city-posts-container">
    <app-posts></app-posts>
  </div>
</div>
