.city-info-container {
    /* display: grid; */
    border: 1px solid gray;
    width: 65rem;
    height: 60rem;
    border-radius: 20px;
    font-size: 35px;
    font-weight: 500;
}

.city-detail-container {
    display: flex;
    justify-content: space-between;
    grid-area: 1 / span 2;
    margin: 2rem 5rem;
    min-height: 22rem;
    /* max-height: 25rem; */
}

.city-details {
    grid-area: 1 / 1;
    margin-top: 2rem;
}

img {
    max-width: 35rem;
    width: 100%;
    max-height: 20rem;
    border-radius: 2px;
    box-shadow: 14px 17px 18px -3px rgba(0,0,0,0.77);
}

.city-image {
    grid-area: 1 / 2;
    width: 35rem;
}

.city-posts-container {
    grid-area: 2 / span 2;

}
