<!-- Check ID -->

<!-- <div class="city-info-container">
  <div class="city-detail-container" *ngFor="let city of cities">
    <div class="city-details">
      <div>{{ city.name }}</div>
      <div>{{ city.country}}</div>
    </div>
    <div class="city-image"><img src="{{ city.image }}" alt="" /></div>
  </div>
  <div class="city-posts-container">
    <app-posts></app-posts>
  </div>
</div> -->
<div class="city-info-container">
  <div class="city-detail-container">
    <div class="city-details">
      <div>{{ city.name }}</div>
      <div>{{ city.country}}</div>
    </div>
    <div class="city-image"><img src="{{ city.image }}" alt="" /></div>
  </div>
  <div class="city-posts-container">
    <app-posts></app-posts>
  </div>
</div>
