h2 {
   margin-left: 3rem;
}

#posts-container {
   margin: auto;
   max-width: 55rem;
   overflow-y: scroll;
   overflow-x: hidden;
   height: 32rem;
}

.individual-posts {
   width: 59rem;
   height: 15rem;
   padding-left: 0;
   margin-left: -3rem;
}

.post-description {
   height: 9rem;
}

.flex {
   display: flex;
   justify-content: baseline;
}

h6 {
   margin-left: 1rem;
   padding-top: 0.45rem;
}

p {
   font-size: 17pt;
   
}

h5 {
   font-size: 12.5pt;
}

h4.card-user-username {
   font-size: 17pt;
   font-weight: bold;
}

.col-md-4 {
   display: flex;
   justify-content: center;
   align-items: center;
}

img {
   border: 3px solid gray;
   width: 35%;
   height: 40%;
   border-radius: 5px;
   margin: 12px;
}

.card.mb-3 {
   font-family: 'Barlow Condensed', sans-serif;
   margin-right: 9%;
   border-radius: 15px;
   box-shadow: 5px 5px 3px -5px gray;
   border: 1px solid gray;
}

div.card-body {
   margin-top: 9%;
   padding-left: 0;
}
