<div>
  <div class="d-flex justify-content-between">
    <h2>Posts</h2>
    <app-comment-container></app-comment-container>
  </div>
  
  <div id="posts-container" data-spy="scroll">
      <div class="card mb-3" style="max-height: 15rem;" *ngFor="let post of postArr.slice().reverse()">
        <div class="row g-0" >
          <div class="col-md-4">
            <img
              src="{{ post.userImage }}"
              class="img-fluid rounded-start"
              style="max-height: 15rem;"
              alt="..."
            />
          </div>
          <div class="col-md-8 individual-posts">
            <div class="card-body">
              <div class="flex">
                <h4 class="card-user-username">{{ post.username }}</h4>
                <h6 class="card-text"><small class="text-body-secondary">Posted: {{ post.createdAt }}</small></h6>
              </div>
              <h5 class="">{{ post.title }}</h5>
              <div data-spy="scroll" class="post-description">
                <p> {{ post.desc }}</p>
              </div>
            </div>
          </div>
        </div>
      </div>
  </div>
</div>
