h2 {
   margin-left: 3rem;
}

#posts-container {
   margin: auto;
   max-width: 55rem;
   overflow: scroll;
   height: 32rem;
}

.individual-posts {
   width: 59rem;
   height: 15rem;
   padding-left: 0;
   margin-left: -3rem;
}

.post-description {
   height: 9rem;
   overflow: scroll;
   border: 1px solid lightgray;
   border-radius: 20px;
}

.flex {
   display: flex;
   justify-content: baseline;
}

h6 {
   margin-left: 1rem;
   padding-top: 0.45rem;
}

p {
   font-size: 17pt;
   margin-left: 1rem;
}

h5 {
   font-size: 11pt;
}
