<div>
  <h2>Posts</h2>
  <div id="posts-container" data-spy="scroll">
      <div class="card mb-3" style="max-height: 15rem;" *ngFor="let post of postArr">
        <div class="row g-0" >
          <div class="col-md-4">
            <img
              src="{{ post.userImage }}"
              class="img-fluid rounded-start"
              style="max-height: 15rem;"
              alt="..."
            />
          </div>
          <div class="col-md-8 individual-posts">
            <div class="card-body">
              <h4 class="card-user-username">{{ post.username }}</h4>
              <h5 class="card-title">{{ post.title }}</h5>
              <p class="card-text">{{ post.desc }}</p>
              <!-- <p class="card-text"><small class="text-body-secondary">Last updated 3 mins ago</small></p> -->
            </div>
          </div>
        </div>
      </div>
  </div>
</div>